/* GLOBAL */
* { 
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
}
 
img { 
	max-width: 100%; 
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

table.body-wrap { 
	width: 100%;
}

body {
	-webkit-font-smoothing:antialiased; 
	-webkit-text-size-adjust:none; 
	width: 100%!important; 
	height: 100%;
}

h3{
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
	font-weight: bold;
	font-size: 18px;
	color: #5e5e63;
	text-transform: uppercase;
	margin-bottom: 8px;
}

p { 
	font-family: 'HelveticaNeue-Medium';
	color: #bfc0c3;
	margin-bottom: 17px; 
	font-size: 14px; 
	line-height: 20px;
}

a { 
	color: #2BA6CB;
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
}

.btn {
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	text-decoration:none;
	color: #ffffff;
	background-color: #53545e;
	padding: 7px 13px;
	margin-right:10px;
	text-align:center;
	cursor:pointer;
	display: inline-block;
	text-transform: uppercase;
}

.bord_bottom {
	border-bottom: 1px solid #eaeaea;
}

.bord_bottom_grey {
	border-bottom: 1px solid #a6a7b0;
}

table.social {
	background-color: #ebebeb;	
}

.container {
	display:block!important; 
	max-width:600px!important;
	margin:0 auto!important; /* makes it centered */
	clear:both!important;
	padding: 0 30px;
}

.content {
	padding: 30px 0;
	max-width:600px;
	margin:0 auto;
	display:block; 
	overflow: hidden;
	width: 100%;
}

.content table {
	width: 100%; 
}

.column_half {
	width: 270px;
	float:left;
}

.column_third {
	width: 180px;
	float:left;
}


/* FONTS */

@font-face {
	font-family: 'HelveticaNeue-Medium';
	src: url('../fonts/HelveticaNeue-Medium.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-Medium.woff') format('woff'), 
	url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'), 
	url('../fonts/HelveticaNeue-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue-Regular';
	src: url('../fonts/HelveticaNeue-Regular.eot');
	src: local('☺'), url('fonts/HelveticaNeue-Regular.woff') format('woff'), 
	url('../fonts/HelveticaNeue-Regular.ttf') format('truetype'), 
	url('../fonts/HelveticaNeue-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* HEADER */


table.head-wrap {
	width: 100%;
	height: 100px;
}

.header.container {
	height: 100%;
}

.header .content {
	padding-top: 35px; 
	padding-bottom: 0;
}

.header .content .column_half h1 {
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
	font-weight: bold;
	padding: 5px 0 0 61px;
	font-size: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.header .content a:hover { 
	text-decoration: none;
}

.header .content .column_half h1 span {
	font-size: inherit;
	text-transform: inherit;
	padding-left: 0;
	color: #a6a7b0;
}

.header .content .column_half span {
	font-family: "Open Sans", Helvetica, Arial, sans-serif; 
	font-weight: bold;
	font-size: 12px;
	color: #f1f1f1;
	font-weight: bold;
}

.link_online {
	font-size: 12px;
	color: #a6a7b0;
	font-weight: bold;
}

.header .content .link_online:hover { 
	text-decoration: underline;
}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* BODY */

table.body-wrap { 
	width: 100%;
}

.content.post {
	padding: 25px 0;	
}

/*.content.post h3{
	margin-top: 5px;
}*/

/* FOOTER */

.content.social {
	padding: 25px 0 20px 0;
}

.social h3 {
	padding-top: 7px;
}
.social_links span{
	display: inline-block;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.social_links a{
	display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    text-indent: -9999px;
}

.fb {
    background: url("../img/social-icons.png") 0 0;
}

.rss {
    background: url("../img/social-icons.png") -44px 0;
}
.pint {
    background: url("../img/social-icons.png") -88px 0;
}
.g {
    background: url("../img/social-icons.png") -132px 0;
}
.grib {
    background: url("../img/social-icons.png") -176px 0;
}
.in {
    background: url("../img/social-icons.png") -220px 0;
}

.fl {
	background: url("../img/social-icons.png") -264px 0;
	}

table.footer-wrap { 
	width: 100%;	
	clear:both!important;
}

.footer_links .column {
	width: 133px;
	text-align: left;
	padding-left: 16px;
}

.footer_links p {
	width: 407px;
	text-align: left;
}

.footer_links p {
	font-family: 'HelveticaNeue-Regular';
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	display: inline-block;
}

.footer_links a {
	font-family: 'HelveticaNeue-Regular';
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;	
}

.footer_links .column a {	
	position: relative;
}

.footer_links .column a:before {
	content: "";
	position: absolute;
	width: 7px;
	height: 10px;
	left: -15px;
	top: 7px;
	background: url("../img/arrow-right.png") no-repeat;
}

.copyright {
	padding: 10px 0 0 0;
}

.copyright p,a {
	font-family: 'HelveticaNeue-Regular';
	color: #a6a7b0;
	font-size: 12px;
	line-height: 24px;
}

.copyright p a {
	color: #ffffff;
	padding-right: 0;
}

.copyright a:first-child {
	position: relative;
	padding-right: 16px;
}

.copyright a:first-child:after {
	position: absolute;
	content: "";
	background: url("../img/vert-line.png");
	width: 2px;
	height: 13px;
	top: 0;
	right: 5px;
}

.copyright .column_half p a {
	content: none;
	padding-right: 0;
}

.copyright .column_half p a:first-child:after {
	content: none;
}